<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BetterMetro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>852E142F5AA2412970497A46E0EF4927697B3E25</string>
				<key>dateExpires</key>
				<string>23/03/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>852E142F5AA2412970497A46E0EF4927697B3E25</string>
						<key>dateExpires</key>
						<string>23/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8CFHW4VE6V</string>
						<key>name</key>
						<string>Sam Muir</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>852E142F5AA2412970497A46E0EF4927697B3E25</string>
						<key>dateExpires</key>
						<string>23/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8CFHW4VE6V</string>
						<key>name</key>
						<string>Sam Muir</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>852E142F5AA2412970497A46E0EF4927697B3E25</string>
						<key>dateExpires</key>
						<string>23/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8CFHW4VE6V</string>
						<key>name</key>
						<string>Sam Muir</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.10.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>852E142F5AA2412970497A46E0EF4927697B3E25</string>
						<key>dateExpires</key>
						<string>23/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8CFHW4VE6V</string>
						<key>name</key>
						<string>Sam Muir</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8CFHW4VE6V.com.sam.app.BetterMetro</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>8CFHW4VE6V</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BetterMetro.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>89575835-8900-4a91-b4cf-bb49cd482cdf</string>
				<key>dateExpires</key>
				<string>23/03/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sam.app.BetterMetro</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8CFHW4VE6V</string>
				<key>name</key>
				<string>Sam Muir</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.2</string>
		</dict>
	</array>
</dict>
</plist>
